In [1]:
#install the library yfinance

In [2]:
import pandas as pd
import sqlite3
import yfinance as yf

In [3]:
# create a sql connection and create the database stock
c = sqlite3.connect("stock.db")

On crée une table pour les prix

In [4]:
# create price table with the primary tuple keys ( date, ticker) and the columns, date, ticker, price
query1 = """CREATE TABLE IF NOT EXISTS price (
        date DATE NOT NULL,
        ticker varchar(255) NOT NULL,
        price FLOAT,
        PRIMARY KEY(date, ticker)
        )"""
c.execute(query1.replace('\n',' '))

In [5]:
# create volume table with the primary tuple keys ( date, ticker) and the columns, date, ticker, volume 
query2 = """CREATE TABLE IF NOT EXISTS volume (
Date TEXT NOT NULL,
ticker TEXT NOT NULL,
volume REAL,
PRIMARY KEY(Date, ticker)
)"""
c.execute(query2.replace("\n", " "))

In [6]:
# backtest inputs
bt_inputs = {'tickers': ['BA', 'UNH', 'MCD', 'HD'], #BA: Boeing, UNH: UnitedHealth, MCD: Mac Donalds, HD : HomeDepot
'start_date': '2019-01-01',
'end_date': '2021-06-01'}

In [7]:
def download(bt_inputs, proxy = None):
    data = yf.download(tickers= bt_inputs['tickers'],
                       start = bt_inputs['start_date'],   
                       end = bt_inputs['end_date'],
                       interval = '1d',
                       prepost = True,
                       threads = True,
                       proxy = proxy)
    return data

In [8]:
test = download(bt_inputs)

[*********************100%***********************]  4 of 4 completed

In [9]:
test

             Adj Close                                           Close  \
                    BA          HD         MCD         UNH          BA
Date
2019-01-02  314.645142  160.614792  163.065048  232.297791  323.809998
2019-01-03  302.100555  157.074738  161.990677  225.962967  310.899994
2019-01-04  317.822601  161.741989  165.121201  228.605652  327.079987
2019-01-07  318.823395  164.928024  166.917984  229.044525  328.109985
2019-01-08  330.891937  165.719864  167.269958  232.106964  340.529999
...                ...         ...         ...         ...         ...
2021-05-24  237.440002  310.329895  226.852051  406.691772  237.440002
2021-05-25  240.740005  312.212524  227.077042  408.769989  240.740005
2021-05-26  241.369995  312.784210  227.282471  408.928345  241.369995
2021-05-27  250.699997  314.203583  229.737717  408.423615  250.699997
2021-05-28  247.020004  314.341583  230.052460  407.651703  247.020004

                                                      High              ...  \
                    HD         MCD         UNH          BA          HD  ...
Date                                                                    ...
2019-01-02  172.410004  176.059998  243.490005  323.950012  173.179993  ...
2019-01-03  168.610001  174.899994  236.850006  319.739990  171.839996  ...
2019-01-04  173.619995  178.279999  239.619995  328.440002  174.740005  ...
2019-01-07  177.039993  180.220001  240.080002  330.690002  178.179993  ...
2019-01-08  177.889999  180.600006  243.289993  341.250000  179.589996  ...
...                ...         ...         ...         ...         ...  ...
2021-05-24  314.839996  231.910004  410.950012  238.500000  318.739990  ...
2021-05-25  316.750000  232.139999  413.049988  243.779999  317.100006  ...
2021-05-26  317.329987  232.350006  413.209991  242.490005  321.380005  ...
2021-05-27  318.769989  234.860001  412.700012  252.600006  320.410004  ...
2021-05-28  318.910004  233.889999  411.920013  248.979996  321.510010  ...

                   Low                    Open                          \
                   MCD         UNH          BA          HD         MCD
Date
2019-01-02  174.169998  241.470001  316.190002  169.710007  175.410004
2019-01-03  174.410004  236.130005  319.489990  171.839996  175.449997
2019-01-04  175.690002  238.800003  316.690002  170.179993  176.029999
2019-01-07  178.139999  238.229996  330.519989  173.830002  178.139999
2019-01-08  179.910004  239.710007  334.109985  178.570007  181.960007
...                ...         ...         ...         ...         ...
2021-05-24  231.020004  409.920013  235.139999  316.839996  231.520004
2021-05-25  230.710007  408.890015  240.000000  315.529999  232.169998
2021-05-26  232.160004  411.010010  241.699997  317.809998  233.789993
2021-05-27  232.399994  410.380005  248.110001  317.299988  233.009995
2021-05-28  232.449997  410.019989  247.479996  320.369995  234.130005

                          Volume
                   UNH        BA       HD      MCD      UNH
Date
2019-01-02  245.000000   3292200  4242900  2571500  4063600
2019-01-03  243.479996   5705600  4810500  3728200  4623200
2019-01-04  239.800003   4448800  4762600  3194300  5367600
2019-01-07  240.399994   4030300  4928800  3283000  4133000
2019-01-08  242.330002   4736500  4722400  2941400  3618600
...                ...       ...      ...      ...      ...
2021-05-24  412.369995  10106000  2930600  1823300  1883600
2021-05-25  411.850006  12908000  3523300  2681900  2285600
2021-05-26  412.100006   7240200  2881600  1564200  1903900
2021-05-27  414.920013  18404400  3734800  5242900  2041800
2021-05-28  412.700012  11197400  3194000  2853600  2367900

[607 rows x 24 columns]

In [10]:
test['Adj Close']

                    BA          HD         MCD         UNH
Date
2019-01-02  314.645142  160.614792  163.065048  232.297791
2019-01-03  302.100555  157.074738  161.990677  225.962967
2019-01-04  317.822601  161.741989  165.121201  228.605652
2019-01-07  318.823395  164.928024  166.917984  229.044525
2019-01-08  330.891937  165.719864  167.269958  232.106964
...                ...         ...         ...         ...
2021-05-24  237.440002  310.329895  226.852051  406.691772
2021-05-25  240.740005  312.212524  227.077042  408.769989
2021-05-26  241.369995  312.784210  227.282471  408.928345
2021-05-27  250.699997  314.203583  229.737717  408.423615
2021-05-28  247.020004  314.341583  230.052460  407.651703

[607 rows x 4 columns]

In [11]:
test['Volume']

                  BA       HD      MCD      UNH
Date
2019-01-02   3292200  4242900  2571500  4063600
2019-01-03   5705600  4810500  3728200  4623200
2019-01-04   4448800  4762600  3194300  5367600
2019-01-07   4030300  4928800  3283000  4133000
2019-01-08   4736500  4722400  2941400  3618600
...              ...      ...      ...      ...
2021-05-24  10106000  2930600  1823300  1883600
2021-05-25  12908000  3523300  2681900  2285600
2021-05-26   7240200  2881600  1564200  1903900
2021-05-27  18404400  3734800  5242900  2041800
2021-05-28  11197400  3194000  2853600  2367900

[607 rows x 4 columns]

In [12]:
adj_close = test['Adj Close']
volume = test['Volume']

In [13]:
adj_close.head()

                    BA          HD         MCD         UNH
Date
2019-01-02  314.645142  160.614792  163.065048  232.297791
2019-01-03  302.100555  157.074738  161.990677  225.962967
2019-01-04  317.822601  161.741989  165.121201  228.605652
2019-01-07  318.823395  164.928024  166.917984  229.044525
2019-01-08  330.891937  165.719864  167.269958  232.106964

In [14]:
# convert wide to long
adj_close_long = pd.melt(adj_close.reset_index(), id_vars='Date', value_vars=bt_inputs['tickers'], 
                         var_name ="ticker", value_name="price")
adj_close_long

           Date ticker       price
0    2019-01-02     BA  314.645142
1    2019-01-03     BA  302.100555
2    2019-01-04     BA  317.822601
3    2019-01-07     BA  318.823395
4    2019-01-08     BA  330.891937
...         ...    ...         ...
2423 2021-05-24     HD  310.329895
2424 2021-05-25     HD  312.212524
2425 2021-05-26     HD  312.784210
2426 2021-05-27     HD  314.203583
2427 2021-05-28     HD  314.341583

[2428 rows x 3 columns]

In [15]:
adj_close_long[0:607]

          Date ticker       price
0   2019-01-02     BA  314.645142
1   2019-01-03     BA  302.100555
2   2019-01-04     BA  317.822601
3   2019-01-07     BA  318.823395
4   2019-01-08     BA  330.891937
..         ...    ...         ...
602 2021-05-24     BA  237.440002
603 2021-05-25     BA  240.740005
604 2021-05-26     BA  241.369995
605 2021-05-27     BA  250.699997
606 2021-05-28     BA  247.020004

[607 rows x 3 columns]

In [16]:
adj_close_long[607:1215]

           Date ticker       price
607  2019-01-02    UNH  232.297791
608  2019-01-03    UNH  225.962967
609  2019-01-04    UNH  228.605652
610  2019-01-07    UNH  229.044525
611  2019-01-08    UNH  232.106964
...         ...    ...         ...
1210 2021-05-25    UNH  408.769989
1211 2021-05-26    UNH  408.928345
1212 2021-05-27    UNH  408.423615
1213 2021-05-28    UNH  407.651703
1214 2019-01-02    MCD  163.065048

[608 rows x 3 columns]

In [17]:
adj_close_long['ticker'].value_counts()

BA     607
UNH    607
MCD    607
HD     607
Name: ticker, dtype: int64

In [18]:
volume

                  BA       HD      MCD      UNH
Date
2019-01-02   3292200  4242900  2571500  4063600
2019-01-03   5705600  4810500  3728200  4623200
2019-01-04   4448800  4762600  3194300  5367600
2019-01-07   4030300  4928800  3283000  4133000
2019-01-08   4736500  4722400  2941400  3618600
...              ...      ...      ...      ...
2021-05-24  10106000  2930600  1823300  1883600
2021-05-25  12908000  3523300  2681900  2285600
2021-05-26   7240200  2881600  1564200  1903900
2021-05-27  18404400  3734800  5242900  2041800
2021-05-28  11197400  3194000  2853600  2367900

[607 rows x 4 columns]

In [19]:
#convert wide to long
volume_long = pd.melt(volume.reset_index(), id_vars='Date', value_vars=bt_inputs['tickers'], 
                      var_name = "ticker", value_name = "volume")
volume_long.head()

        Date ticker   volume
0 2019-01-02     BA  3292200
1 2019-01-03     BA  5705600
2 2019-01-04     BA  4448800
3 2019-01-07     BA  4030300
4 2019-01-08     BA  4736500

In [20]:
# insert a in sql table prices and volume
adj_close_long.to_sql("price", c, if_exists="replace", index=False)
volume_long.to_sql("volume", c, if_exists="replace", index=False)

2428

In [21]:
select_tickers = bt_inputs['tickers']
select_tickers

['BA', 'UNH', 'MCD', 'HD']

In [33]:
start_date = bt_inputs['start_date']
start_date

'2019-01-01'

In [41]:
# inputs
select_tickers = bt_inputs['tickers']
start_date = bt_inputs['start_date']
end_date = bt_inputs['end_date']
# construct query: select the prices withe tickers in select_tickers 
#between start_date and end_date
query = f"""SELECT ticker, price FROM price WHERE ticker in ({select_tickers}) AND {start_date} < Date < {end_date}"""
print("Query: ", query.replace('\n',' ').replace("[", "").replace("]", ""))
cur = c.execute(query.replace('\n',' ').replace("[", "").replace("]", ""))

Query:  SELECT ticker, price FROM price WHERE ticker in ('BA', 'UNH', 'MCD', 'HD') AND 2019-01-01 < Date < 2021-06-01

In [42]:
#display the request
rows = cur.fetchall()
print(f"{len(rows)} rows found")
print(rows)

2428 rows found

In [44]:
#store the results of the request in a  dataframe result
result = pd.DataFrame(rows, columns=["ticker", "price"])
result

     ticker       price
0        BA  314.645142
1        BA  302.100555
2        BA  317.822601
3        BA  318.823395
4        BA  330.891937
...     ...         ...
2423     HD  310.329895
2424     HD  312.212524
2425     HD  312.784210
2426     HD  314.203583
2427     HD  314.341583

[2428 rows x 2 columns]