In [1]:
#import the library sqlite3
import sqlite3


#create a new database and open a database connection with the name example
con = sqlite3.connect("database.db")

# a data cursor cur in order execute SQL statements and fetch results from SQL queries
cur = con.cursor()

# Create table with the column date, side, symbol, qty, price
try:
    cur.execute("CREATE TABLE products(date, side, symbol, qty, price)")
except sqlite3.OperationalError: 
    print("La table 'products' existe déjà")

# Insert 3 row of data: the stock APPLE ( AAPL) with the date of transaction, the nature of side ( BUY or SELL),
#the quantity of the stock traded and the price
cur.execute("""INSERT INTO products VALUES ('2021-01-01', 'BUY', 'AAPL', 100, 148.48),
                                            ('2021-01-02', 'SELL', 'AAPL', 100, 149.11),
                                            ('2021-01-03', 'BUY', 'AAPL', 75, 144.27),
                                            ('2021-01-04', 'SELL', 'AAPL', '75', '146.39')""")

# Save (commit) the changes
con.commit()

#return all resulting rows
for row in cur.execute("""SELECT * FROM products"""):
    print(row)
# Close the connection
con.close()

La table 'products' existe déjà
('2021-01-01', 'BUY', 'AAPL', 100, 148.48)
('2021-01-02', 'SELL', 'AAPL', 100, 149.11)
('2021-01-03', 'BUY', 'AAPL', 75, 144.27)
('2021-01-04', 'SELL', 'AAPL', '75', '146.39')
('2021-01-01', 'BUY', 'AAPL', 100, 148.48)
('2021-01-02', 'SELL', 'AAPL', 100, 149.11)
('2021-01-03', 'BUY', 'AAPL', 75, 144.27)
('2021-01-04', 'SELL', 'AAPL', '75', '146.39')
('2021-01-01', 'BUY', 'AAPL', 100, 148.48)
('2021-01-02', 'SELL', 'AAPL', 100, 149.11)
('2021-01-03', 'BUY', 'AAPL', 75, 144.27)
('2021-01-04', 'SELL', 'AAPL', '75', '146.39')
('2021-01-01', 'BUY', 'AAPL', 100, 148.48)
('2021-01-02', 'SELL', 'AAPL', 100, 149.11)
('2021-01-03', 'BUY', 'AAPL', 75, 144.27)
('2021-01-04', 'SELL', 'AAPL', '75', '146.39')

## the construction of a financial database

Let’s start simple and only consider the structure for the equity data that we are gathering for now – in our case the constituents of the S&P500 index. We can tag on the various tables and possibly whole databases to the mix as and when we need to, i.e. when we start to deal with the spot currency data and fund data that we plan to include.

the  plan is to segregate theequity data into 4 separate tables, using unique ids and foreign keys to create the relevant relationships and links between them.

The tables will be as follows:

<img src='C:/Users/User/Desktop/Formations_Data-LAPTOP-JP680GIQ/Formations_Data-LAPTOP-JP680GIQ/Organisme_formation/Ib_cegos/AXA/MCD.png'>

<img src='C:\Users\User\Desktop\Formations_Data-LAPTOP-JP680GIQ\Formations_Data-LAPTOP-JP680GIQ\Organisme_formation\Ib_cegos\AXA\MCD.png'>

In [2]:
#import the library os and the module Error of the library sqlite3
import os
import sqlite3
from sqlite3 import Error

#the name of the database
db_name = "financial_data.db"

# On commence par supprimer la base de données si elle existe déjà, 
# pour repartir sur des bases saines :
if os.path.isfile(db_name):
  os.remove(db_name)


def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    return sqlite3.connect(db_file)



def create_table(conn, create_table_sql):
    """ create a table from the create_table_sql statement
    :param conn: Connection object
    :param create_table_sql: a CREATE TABLE statement
    :return:
    """
    cur = conn.cursor()
    cur.execute(create_table_sql)

        
def main():
    
    database = db_name

    
    # create the tables according to the MCD
    sql_create_exchange_table = """CREATE TABLE exchange (
                                id VARCHAR(255) PRIMARY KEY NOT NULL,
                                name VARCHAR(255),
                                currency VARCHAR(255),
                                code VARCHAR(255)
                                )"""
    
    sql_create_company_table = """CREATE TABLE company (
                                id VARCHAR(255) PRIMARY KEY NOT NULL,
                                name VARCHAR(255),
                                industry VARCHAR(255),
                                sector VARCHAR(255),
                                hq_location VARCHAR(255),
                                security_id VARCHAR(255),
                                FOREIGN KEY(security_id) REFERENCES security_price(security_id)
                                )"""
    
    
    sql_create_security_table = """CREATE TABLE security (
                                id VARCHAR(255) PRIMARY KEY NOT NULL,
                                ticker VARCHAR(255),
                                name VARCHAR(255),
                                company_id VARCHAR(255), 
                                exchange_id VARCHAR(255),
                                FOREIGN KEY(company_id) REFERENCES company(id),
                                FOREIGN KEY(exchange_id) REFERENCES exchange(id)
                                )"""
    
    sql_create_security_price_table =  """CREATE TABLE security_price (
                                        id VARCHAR(255) PRIMARY KEY NOT NULL,
                                        date DATE,
                                        open FLOAT,
                                        high FLOAT,
                                        low FLOAT,
                                        close FLOAT,
                                        volume FLOAT,
                                        adj_close FLOAT,
                                        security_id VARCHAR(255),
                                        FOREIGN KEY(security_id) REFERENCES security(id)
                                        )"""

    
    # create a database connection
    conn = create_connection(database)
    cur = conn.cursor()
    
    # create tables
    if conn is not None:
        # create exchange table
        cur.execute(sql_create_exchange_table)
    
        # create company table
        cur.execute(sql_create_company_table)
    
        
        # create security table
        cur.execute(sql_create_security_table)
    
        
        # create security_price table
        cur.execute(sql_create_security_price_table)
        conn.commit()
        
    else:
        print("Error! cannot create the database connection.")
main()

In [3]:
#import the library pandas , requests and io
import pandas as pd
import requests
import io

In [4]:
exchange_data = pd.read_csv("https://www.iso20022.org/sites/default/files/ISO10383_MIC/ISO10383_MIC.csv", 
                            encoding='iso-8859-1' )
exchange_data.head(30)

,MIC,OPERATING MIC,OPRT/SGMT,MARKET NAME-INSTITUTION DESCRIPTION,LEGAL ENTITY NAME,LEI,MARKET CATEGORY CODE,ACRONYM,ISO COUNTRY CODE (ISO 3166),CITY,WEBSITE,STATUS,CREATION DATE,LAST UPDATE DATE,LAST VALIDATION DATE,EXPIRY DATE,COMMENTS
0,DRSP,DRSP,OPRT,EURONEXT UK - REPORTING SERVICES,EURONEXT LONDON LIMITED,969500HMVSZ0TCV65D58,APPA,NaN,GB,LONDON,WWW.EURONEXT.COM,ACTIVE,20210927,20210927,20210927.0,NaN,APPROVED PUBLICATION ARRANGEMENT.
1,XCNQ,XCNQ,OPRT,CANADIAN SECURITIES EXCHANGE,"CNSX MARKETS, INC.",NaN,RMKT,CSE LISTED,CA,TORONTO,WWW.THECSE.COM,ACTIVE,20090427,20210927,20210927.0,NaN,FORMERLY KNOWN AS PURE (CSE OTHER LISTED) FORM...
2,PURE,XCNQ,SGMT,CANADIAN SECURITIES EXCHANGE - PURE,"CNSX MARKETS, INC.",NaN,NSPD,CSE-PURE,CA,TORONTO,WWW.THECSE.COM,ACTIVE,20061225,20210927,20210927.0,NaN,FORMERLY KNOWN AS PURE (CSE OTHER LISTED) FORM...
3,ZODM,ZODM,OPRT,ZODIA MARKETS,ZODIA MARKETS HOLDINGS LIMITED,5493006GZOHISU7JTC27,NSPD,NaN,GB,LONDON,WWW.ZODIA-MARKETS.COM,ACTIVE,20210927,20210927,20210927.0,NaN,CRYPTOASSET BROKERAGE AND EXCHANGE.
4,FNFX,BGCF,SGMT,FENICS FX ECN,"FENICS FX, LLC",549300I0NONVB9S5DZ56,NSPD,NaN,US,NEW YORK,WWW.FENICSFX.COM,ACTIVE,20210927,20210927,20210927.0,NaN,ELECTRONIC COMMUNICATIONS NETWORK.
5,NORX,NORX,OPRT,NASDAQ OSLO ASA,NASDAQ OSLO ASA,5493003IZZWOHHJY1L88,RMKT,NaN,NO,OSLO,WWW.NASDAQ.COM/SOLUTIONS/EUROPEAN-COMMODITIES,ACTIVE,20110523,20210927,20210927.0,NaN,NaN
6,POSE,POSE,OPRT,PORTFOLIO STOCK EXCHANGE,"EUROPEAN DIGITAL SECURITIES EXCHANGE, S.L.",959800UP9ANDBHTKJ408,MLTF,NaN,ES,MADRID,WWW.PORTFOLIO.EXCHANGE,ACTIVE,20210927,20210927,NaN,NaN,MULTILATERAL TRADING FACILITY.
7,PUND,PUND,OPRT,PUNDION LLC,PUNDION LLC,549300FOYST42PEQ1R51,NSPD,NaN,US,NEW YORK,WWW.PUNDION.COM,ACTIVE,20210927,20210927,20210927.0,NaN,EQUITY PRODUCTS.
8,UCBG,UCBG,OPRT,UNICREDIT BULBANK AD,UNICREDIT BULBANK AD,549300Z7V2WOFIMUEK50,SINT,NaN,BG,SOFIA,WWW.UNICREDITBULBANK.BG,ACTIVE,20210927,20210927,20210927.0,NaN,SYSTEMATIC INTERNALISER.
9,NZFX,XASX,SGMT,ASX - NEW ZEALAND FUTURES & OPTIONS,AUSTRALIAN SECURITIES EXCHANGE (ASX),549300SDXT36XYPVWI79,NSPD,ASX,AU,SYDNEY,WWW.ASX.COM.AU,ACTIVE,20070924,20210927,20210927.0,NaN,NaN
10,XOCH,XOCH,OPRT,"ONECHICAGO, LLC",NaN,NaN,NSPD,NaN,US,CHICAGO,WWW.ONECHICAGO.COM,EXPIRED,20050627,20210823,20210823.0,20210823.0,NaN
11,BBLX,BBLX,OPRT,BONDBLOX EXCHANGE,BONDEVALUE PTE LTD,NaN,NSPD,BBX,SG,SINGAPORE,WWW.BONDBLOX.COM,ACTIVE,20210823,20210823,20210823.0,NaN,NaN
12,BACR,BAIP,SGMT,BANK OF AMERICA SECURITIES - CENTRAL RISK,NaN,GGDZP1UYGU9STUHRDP48,NSPD,NaN,HK,HONG KONG,WWW.BOFAML.COM,ACTIVE,20210726,20210726,NaN,NaN,NaN
13,SPBE,SPBE,OPRT,SPB EXCHANGE - ALL MARKETS,PUBLIC JOINT-STOCK COMPANY SPB EXCHANGE,253400T8G8SXRUHTL526,NSPD,SPB,RU,MOSCOW,HTTPS://SPBEXCHANGE.RU,ACTIVE,20210322,20210726,20210726.0,NaN,"SHARES, DEPOSITARY RECEIPTS, GOVERNMENT BONDS,..."
14,OTCM,OTCM,OPRT,OTC LINK ATS - OTC MARKETS,OTC MARKETS GROUP INC.,254900LQDMW14QIVAH45,NSPD,NaN,US,NEW YORK,WWW.OTCMARKETS.COM,ACTIVE,20120528,20210726,20210726.0,NaN,OPERATIONAL MIC FOR OTC MARKETS.
15,STUF,XSTU,SGMT,BOERSE STUTTGART - FREIVERKEHR - TECHNICAL PLA...,BOERSE STUTTGART,529900A0WHA0NVXY0G45,NSPD,NaN,DE,STUTTGART,WWW.BOERSE-STUTTGART.DE,ACTIVE,20210726,20210726,NaN,NaN,NaN
16,XSTP,XSTU,SGMT,BOERSE STUTTGART - TECHNICAL PLATFORM 3,BOERSE STUTTGART,529900A0WHA0NVXY0G45,NSPD,NaN,DE,STUTTGART,WWW.BOERSE-STUTTGART.DE,ACTIVE,20210726,20210726,NaN,NaN,NaN
17,STUE,XSTU,SGMT,BOERSE STUTTGART - REGULIERTER MARKT - TECHNIC...,BOERSE STUTTGART,529900A0WHA0NVXY0G45,NSPD,NaN,DE,STUTTGART,WWW.BOERSE-STUTTGART.DE,ACTIVE,20210726,20210726,NaN,NaN,NaN
18,FREX,FREX,OPRT,COINBASE DERIVATIVES,"LMX LABS, LLC",549300QHD76EP6ZKTT48,DCMS,CDE,US,CHICAGO,WWW.COINBASE.COM/DERIVATIVES,ACTIVE,20201026,20220822,20220822.0,NaN,NaN
19,HCER,HMTF,SGMT,HI-CERT - MULTILATERAL TRADING FACILITY,HI-MTF SIM S.P.A.,815600F681369854E440,MLTF,NaN,IT,MILANO,WWW.HIMTF.COM,ACTIVE,20200727,20210628,20210628.0,NaN,MTF FOR CERTIFICATES AND COVERED WARRANT.
20,IDXM,IDXM,OPRT,"IDX MARKETS, LLC","IDX MARKETS, LLC",9845006C2FC4E0741B90,ATSS,NaN,US,NEW YORK,WWW.IDXMARKETS.COM,ACTIVE,20210628,20210628,NaN,NaN,REGISTERED ALTERNATIVE TRADING SYSTEM (ATS) FO...
21,MBCP,MBCP,OPRT,MILLENNIUM BCP,BANCO COMERCIAL PORTUGUES S.A.,JU1U6S0DG9YLT7N8ZV32,SINT,MILLENNIUMBCP,PT,PORTO,HTTPS://IND.MILLENNIUMBCP.PT/PT/PARTICULARES/P...,ACTIVE,20210628,20210628,NaN,NaN,SYSTEMATIC INTERNALISER IN FX DERIVATIVES AND ...
22,GMBG,MBUL,SGMT,MTF SOFIA - GROWTH MARKET,CAPMAN AD,5299003795MPR9UZ1J25,NSPD,NaN,BG,SOFIA,WWW.CAPMAN.BG,ACTIVE,20210628,20210628,NaN,NaN,NaN
23,OCEA,OCEA,OPRT,BLUE OCEAN ALTERNATIVE TRADING SYSTEM,"BLUE OCEAN ATS, LLC",NaN,ATSS,BOATS,US,SEA GIRT,WWW.BLUEOCEANATS.COM,ACTIVE,20210628,20210628,NaN,NaN,"BLUE OCEAN ATS, LLC IS A US REGISTERED BROKER ..."
24,OSDS,OSDS,OPRT,OSL DIGITAL SECURITIES EXCHANGE,NaN,549300WBXH3AFK5BRJ77,NSPD,OSLDS,HK,HONG KONG,HTTPS://OSL.COM/EN/HOME,ACTIVE,20210628,20210628,NaN,NaN,OSL DIGITAL SECURITIES - ASIA'S LEADING DIGITA...
25,OSSG,OSSG,OPRT,OSL SG EXCHANGES,OSL SG PTE. LTD.,5493005YD2GDV5LCUD15,NSPD,OSLSG,SG,SINGAPORE,WWW.SG.OSL.COM,ACTIVE,20210628,20210628,NaN,NaN,ASIA LEADING DIGITAL ASSET PLATFORM - OSL SG E...
26,RR4G,RR4G,OPRT,ROUTE4GAS,ROUTE4GAS B.V.,724500EY0KGMVVONVS49,NSPD,R4G,NL,AMSTERDAM,HTTPS://ROUTE4GAS.COM/INFO/,ACTIVE,20210628,20210628,NaN,NaN,NaN
27,TRUK,TRUK,OPRT,TRADING 212 UK LIMITED,TRADING 212 UK LIMITED,2138006AXBAC4F1AWD58,NSPD,NaN,GB,LONDON,WWW.TRADING212.COM,ACTIVE,20210628,20210628,NaN,NaN,NaN
28,UGEN,UGEN,OPRT,UNITEDBLOCKTRADE,UNITED GENERAL LIMITED,9845009F695B98C2BA24,NSPD,NaN,GB,BRADFORD,WWW.UNITEDGENERAL.CO.UK,ACTIVE,20210628,20210628,NaN,NaN,NaN
29,XGLO,XWAR,SGMT,WARSAW STOCK EXCHANGE/ EQUITIES/GLOBAL CONNECT...,WARSAW STOCK EXCHANGE,25940039ZHD3Z37GKR71,MLTF,NaN,PL,WARSAW,WWW.GPW.PL,ACTIVE,20210426,20210628,20210628.0,NaN,MULTILATERAL TRADING FACILITY.

In [5]:
exchange_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2561 entries, 0 to 2560
Data columns (total 17 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   MIC                                  2561 non-null   object
 1   OPERATING MIC                        2561 non-null   object
 2   OPRT/SGMT                            2561 non-null   object
 3   MARKET NAME-INSTITUTION DESCRIPTION  2561 non-null   object
 4   LEGAL ENTITY NAME                    495 non-null    object
 5   LEI                                  1833 non-null   object
 6   MARKET CATEGORY CODE                 2559 non-null   object
 7   ACRONYM                              890 non-null    object
 8   ISO COUNTRY CODE (ISO 3166)          2560 non-null   object
 9   CITY                                 2559 non-null   object
 10  WEBSITE                              2387 non-null   object
 11  STATUS                               2561 non-null   object
 12  CREATION DATE                        2561 non-null   int64
 13  LAST UPDATE DATE                     2561 non-null   int64
 14  LAST VALIDATION DATE                 213 non-null    float64
 15  EXPIRY DATE                          438 non-null    float64
 16  COMMENTS                             1502 non-null   object
dtypes: float64(2), int64(2), object(13)
memory usage: 340.3+ KB

In [6]:
exchange_data = exchange_data[['ISO COUNTRY CODE (ISO 3166)', 'MIC', 'MARKET NAME-INSTITUTION DESCRIPTION', 'ACRONYM']]
exchange_data.head()

,ISO COUNTRY CODE (ISO 3166),MIC,MARKET NAME-INSTITUTION DESCRIPTION,ACRONYM
0,GB,DRSP,EURONEXT UK - REPORTING SERVICES,NaN
1,CA,XCNQ,CANADIAN SECURITIES EXCHANGE,CSE LISTED
2,CA,PURE,CANADIAN SECURITIES EXCHANGE - PURE,CSE-PURE
3,GB,ZODM,ZODIA MARKETS,NaN
4,US,FNFX,FENICS FX ECN,NaN

In [7]:
exchange_data.rename(columns={'ISO COUNTRY CODE (ISO 3166)' : 'country_code', 
                              'MIC':'code', 
                              'MARKET NAME-INSTITUTION DESCRIPTION': 'name',
                              'ACRONYM':'acronym'}, inplace=True)
exchange_data.head()

  country_code  code                                 name     acronym
0           GB  DRSP    EURONEXT  UK - REPORTING SERVICES         NaN
1           CA  XCNQ         CANADIAN SECURITIES EXCHANGE  CSE LISTED
2           CA  PURE  CANADIAN SECURITIES EXCHANGE - PURE    CSE-PURE
3           GB  ZODM                        ZODIA MARKETS         NaN
4           US  FNFX                        FENICS FX ECN         NaN

In [8]:
exchange_data['id'] = exchange_data.index
exchange_data.head()

  country_code  code                                 name     acronym  id
0           GB  DRSP    EURONEXT  UK - REPORTING SERVICES         NaN   0
1           CA  XCNQ         CANADIAN SECURITIES EXCHANGE  CSE LISTED   1
2           CA  PURE  CANADIAN SECURITIES EXCHANGE - PURE    CSE-PURE   2
3           GB  ZODM                        ZODIA MARKETS         NaN   3
4           US  FNFX                        FENICS FX ECN         NaN   4

In [9]:

# exchange_data[['id', 'name', 'currency', 'code']].head(30)

def calc_new_col(row):
    match(row['country_code']):
        case "US": return "USD"
        case "GB": return "GBP"
        case "DE": return "EUR"


exchange_data["currency"] = exchange_data.apply(calc_new_col, axis=1)
print(exchange_data.head())

  country_code  code                                 name     acronym  id  \
0           GB  DRSP    EURONEXT  UK - REPORTING SERVICES         NaN   0
1           CA  XCNQ         CANADIAN SECURITIES EXCHANGE  CSE LISTED   1
2           CA  PURE  CANADIAN SECURITIES EXCHANGE - PURE    CSE-PURE   2
3           GB  ZODM                        ZODIA MARKETS         NaN   3
4           US  FNFX                        FENICS FX ECN         NaN   4

  currency
0      GBP
1     None
2     None
3      GBP
4      USD

In [10]:
# save the data in a sql table exchange in the data db_name
conn = sqlite3.connect(db_name)
df_to_save = exchange_data[["id", "name", "currency", "code"]].set_index("id")
df_to_save.to_sql("exchange", conn, if_exists="replace")

2561

In [11]:
# scrape wiki table with symbols and details of Dow Jones constituents
dj_constituents = pd.read_html('https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average#Components')[1]
dj_constituents.rename(columns={'Company':'name', 'Industry': 'industry', 'Symbol': 'ticker'}, inplace=True)
dj_constituents.head(30)

,name,Exchange,ticker,industry,Date added,Notes,Index weighting
0,3M,NYSE,MMM,Conglomerate,1976-08-09,As Minnesota Mining and Manufacturing,2.88%
1,American Express,NYSE,AXP,Financial services,1982-08-30,NaN,3.56%
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31,NaN,4.88%
3,Apple,NASDAQ,AAPL,Information technology,2015-03-19,NaN,3.15%
4,Boeing,NYSE,BA,Aerospace and defense,1987-03-12,NaN,3.40%
5,Caterpillar,NYSE,CAT,Construction and Mining,1991-05-06,NaN,4.19%
6,Chevron,NYSE,CVX,Petroleum industry,2008-02-19,Also 1930-07-18 to 1999-11-01,3.05%
7,Cisco,NASDAQ,CSCO,Information technology,2009-06-08,NaN,1.00%
8,Coca-Cola,NYSE,KO,Drink industry,1987-03-12,Also 1932-05-26 to 1935-11-20,1.28%
9,Disney,NYSE,DIS,Broadcasting and entertainment,1991-05-06,NaN,2.32%
10,Dow,NYSE,DOW,Chemical industry,2019-04-02,NaN,1.32%
11,Goldman Sachs,NYSE,GS,Financial services,2013-09-20,NaN,6.22%
12,Home Depot,NYSE,HD,Home Improvement,1999-11-01,NaN,5.90%
13,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31,Also 1925-12-07 to 2008-02-19 under various na...,3.71%
14,IBM,NYSE,IBM,Information technology,1979-06-29,Also 1932-05-26 to 1939-03-04,2.69%
15,Intel,NASDAQ,INTC,Semiconductor industry,1999-11-01,NaN,0.91%
16,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17,NaN,3.60%
17,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06,NaN,2.45%
18,McDonald's,NYSE,MCD,Food industry,1985-10-30,NaN,4.89%
19,Merck,NYSE,MRK,Pharmaceutical industry,1979-06-29,NaN,1.65%
20,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01,NaN,5.43%
21,Nike,NYSE,NKE,Clothing industry,2013-09-20,NaN,2.48%
22,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26,NaN,3.15%
23,Salesforce,NYSE,CRM,Information technology,2020-08-31,NaN,3.38%
24,Travelers,NYSE,TRV,Insurance,2009-06-08,NaN,3.38%
25,UnitedHealth,NYSE,UNH,Managed health care,2012-09-24,NaN,10.14%
26,Verizon,NYSE,VZ,Telecommunications industry,2004-04-08,NaN,0.97%
27,Visa,NYSE,V,Financial services,2013-09-20,NaN,4.06%
28,Walgreens Boots Alliance,NASDAQ,WBA,Retailing,2018-06-26,NaN,0.88%
29,Walmart,NYSE,WMT,Retailing,1997-03-17,NaN,3.04%

In [12]:
# scrape wiki table with symbols and details of s&P500 constituents
sp_constituents = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]#.to_csv('constintuents_current.csv', index=False)
sp_constituents.rename(columns={'Symbol': 'ticker', 'Security':'name', 'Headquarters Location': 'hq_location',
                                'GICS Sector': 'sector', 'GICS Sub-Industry':'industry'},inplace=True)
sp_constituents.head()

,ticker,name,SEC filings,sector,industry,hq_location,Date first added,CIK,Founded
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
1,AOS,A. O. Smith,reports,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
3,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981

In [13]:
#concetenate the previous tables/dataframe sp_constituents & dj_constituents with  the columns'name', 'industry', 'sector', 'hq_location'

#drop duplicate
#sort
#reset index
#create the colum id based on the index

company_table = pd.concat([dj_constituents, sp_constituents])
company_table.drop_duplicates(subset="name", inplace=True)
company_table.sort_values(by="name", inplace=True)
company_table.reset_index(drop=True, inplace=True)
company_table["id"] = company_table.index
company_table = company_table[["id", "name", "industry", "sector", "hq_location"]]

In [14]:
company_table

,id,name,industry,sector,hq_location
0,0,3M,Conglomerate,NaN,NaN
1,1,A. O. Smith,Building Products,Industrials,"Milwaukee, Wisconsin"
2,2,ADM,Agricultural Products,Consumer Staples,"Chicago, Illinois"
3,3,ADP,Data Processing & Outsourced Services,Information Technology,"Roseland, New Jersey"
4,4,AES Corporation,Independent Power Producers & Energy Traders,Utilities,"Arlington, Virginia"
...,...,...,...,...,...
509,509,Zebra Technologies,Electronic Equipment & Instruments,Information Technology,"Lincolnshire, Illinois"
510,510,Zimmer Biomet,Health Care Equipment,Health Care,"Warsaw, Indiana"
511,511,Zions Bancorporation,Regional Banks,Financials,"Salt Lake City, Utah"
512,512,Zoetis,Pharmaceuticals,Health Care,"Parsippany, New Jersey"
513,513,eBay,Internet & Direct Marketing Retail,Consumer Discretionary,"San Jose, California"

In [15]:

#concetenate the previous tables/dataframe sp_constituents & dj_constituents with  the columns'ticker', 'name'
#drop duplicate
#sort
#reset index
#create the colum id based on the index


security_table = pd.concat([dj_constituents, sp_constituents])
security_table.drop_duplicates(subset="ticker", inplace=True)
security_table.sort_values(by="ticker", inplace=True)
security_table.reset_index(drop=True, inplace=True)
security_table["id"] = security_table.index
security_table = security_table[["id", "ticker", "name"]]

In [16]:
security_table

      id ticker                     name
0      0      A     Agilent Technologies
1      1    AAL  American Airlines Group
2      2    AAP       Advance Auto Parts
3      3   AAPL                    Apple
4      4   ABBV                   AbbVie
..   ...    ...                      ...
498  498    YUM              Yum! Brands
499  499    ZBH            Zimmer Biomet
500  500   ZBRA       Zebra Technologies
501  501   ZION     Zions Bancorporation
502  502    ZTS                   Zoetis

[503 rows x 3 columns]

In [17]:
#create the foreign key :  populating the security table with the company_id
#first step : create a dictionary with key, value pairs being the name of the company and the corresponding id 
#within its own table, which will be our foreign key in the second table.

company_id_mapper = {k:v for k,v in zip(company_table["name"],company_table["id"])}
for company in company_id_mapper: 
    print(company, company_id_mapper[company])

3M 0
A. O. Smith 1
ADM 2
ADP 3
AES Corporation 4
AMD 5
APA Corporation 6
AT&T 7
AbbVie 8
Abbott 9
Abiomed 10
Accenture 11
Activision Blizzard 12
Adobe Inc. 13
Advance Auto Parts 14
Aflac 15
Agilent Technologies 16
Air Products and Chemicals 17
Akamai 18
Alaska Air Group 19
Albemarle Corporation 20
Alexandria Real Estate Equities 21
Align Technology 22
Allegion 23
Alliant Energy 24
Allstate 25
Alphabet Inc. (Class A) 26
Alphabet Inc. (Class C) 27
Altria 28
Amazon 29
Amcor 30
Ameren 31
American Airlines Group 32
American Electric Power 33
American Express 34
American International Group 35
American Tower 36
American Water Works 37
Ameriprise Financial 38
AmerisourceBergen 39
Ametek 40
Amgen 41
Amphenol 42
Analog Devices 43
Ansys 44
Aon 45
Apple 46
Apple Inc. 47
Applied Materials 48
Aptiv 49
Arch Capital Group 50
Arista Networks 51
Arthur J. Gallagher & Co. 52
Assurant 53
Atmos Energy 54
AutoZone 55
Autodesk 56
AvalonBay Communities 57
Avery Dennison 58
BNY Mellon 59
Baker Hughes 60
Ball Corporation 61
Bank of America 62
Bath & Body Works, Inc. 63
Baxter International 64
Becton Dickinson 65
Berkley 66
Berkshire Hathaway 67
Best Buy 68
Bio-Rad 69
Bio-Techne 70
Biogen 71
BlackRock 72
Boeing 73
Booking Holdings 74
BorgWarner 75
Boston Properties 76
Boston Scientific 77
Bristol Myers Squibb 78
Broadcom Inc. 79
Broadridge Financial Solutions 80
Brown & Brown 81
Brown–Forman 82
C.H. Robinson 83
CBRE Group 84
CDW 85
CF Industries 86
CME Group 87
CMS Energy 88
CSX 89
CVS Health 90
Cadence Design Systems 91
Caesars Entertainment 92
Camden Property Trust 93
Campbell Soup Company 94
Capital One 95
CarMax 96
Cardinal Health 97
Carnival 98
Carrier Global 99
Catalent 100
Caterpillar 101
Caterpillar Inc. 102
Cboe Global Markets 103
Celanese 104
Centene Corporation 105
CenterPoint Energy 106
Ceridian 107
Charles River Laboratories 108
Charles Schwab Corporation 109
Charter Communications 110
Chevron 111
Chevron Corporation 112
Chipotle Mexican Grill 113
Chubb Limited 114
Church & Dwight 115
Cigna 116
Cincinnati Financial 117
Cintas 118
Cisco 119
Citigroup 120
Citizens Financial Group 121
Clorox 122
CoStar Group 123
Coca-Cola 124
Cognizant 125
Colgate-Palmolive 126
Comcast 127
Comerica 128
Conagra Brands 129
ConocoPhillips 130
Consolidated Edison 131
Constellation Brands 132
Constellation Energy 133
CooperCompanies 134
Copart 135
Corning Inc. 136
Corteva 137
Costco 138
Coterra 139
Crown Castle 140
Cummins 141
D.R. Horton 142
DTE Energy 143
DXC Technology 144
DaVita Inc. 145
Danaher Corporation 146
Darden Restaurants 147
Delta Air Lines 148
Dentsply Sirona 149
Devon Energy 150
Dexcom 151
Diamondback Energy 152
Digital Realty 153
Discover Financial 154
Dish Network 155
Disney 156
Dollar General 157
Dollar Tree 158
Dominion Energy 159
Domino's 160
Dover Corporation 161
Dow 162
Dow Inc. 163
DuPont 164
Duke Energy 165
EOG Resources 166
EPAM Systems 167
EQT 168
Eastman Chemical Company 169
Eaton Corporation 170
Ecolab 171
Edison International 172
Edwards Lifesciences 173
Electronic Arts 174
Elevance Health 175
Eli Lilly and Company 176
Emerson Electric 177
Enphase 178
Entergy 179
Equifax 180
Equinix 181
Equity Residential 182
Essex Property Trust 183
Etsy 184
Everest Re 185
Evergy 186
Eversource 187
Exelon 188
Expedia Group 189
Expeditors International 190
Extra Space Storage 191
ExxonMobil 192
F5, Inc. 193
FIS 194
FMC Corporation 195
FactSet 196
Fastenal 197
FedEx 198
Federal Realty 199
Fifth Third Bank 200
First Republic Bank 201
FirstEnergy 202
Fiserv 203
Fleetcor 204
Ford Motor Company 205
Fortinet 206
Fortive 207
Fortune Brands Home & Security 208
Fox Corporation (Class A) 209
Fox Corporation (Class B) 210
Franklin Templeton 211
Freeport-McMoRan 212
Garmin 213
Gartner 214
Gen Digital Inc. 215
Generac 216
General Dynamics 217
General Electric 218
General Mills 219
General Motors 220
Genuine Parts Company 221
Gilead Sciences 222
Global Payments 223
Globe Life 224
Goldman Sachs 225
HCA Healthcare 226
HP Inc. 227
Halliburton 228
Hartford (The) 229
Hasbro 230
Healthpeak 231
Henry Schein 232
Hershey's 233
Hess Corporation 234
Hewlett Packard Enterprise 235
Hilton Worldwide 236
Hologic 237
Home Depot 238
Honeywell 239
Hormel Foods 240
Host Hotels & Resorts 241
Howmet Aerospace 242
Humana 243
Huntington Bancshares 244
Huntington Ingalls Industries 245
IBM 246
IDEX Corporation 247
IQVIA 248
Idexx Laboratories 249
Illinois Tool Works 250
Illumina 251
Incyte 252
Ingersoll Rand 253
Intel 254
Intercontinental Exchange 255
International Flavors & Fragrances 256
International Paper 257
Intuit 258
Intuitive Surgical 259
Invesco 260
Invitation Homes 261
Iron Mountain 262
J.B. Hunt 263
JPMorgan Chase 264
Jack Henry & Associates 265
Jacobs Solutions 266
John Deere 267
Johnson & Johnson 268
Johnson Controls 269
Juniper Networks 270
KLA Corporation 271
Kellogg's 272
Keurig Dr Pepper 273
KeyCorp 274
Keysight 275
Kimberly-Clark 276
Kimco Realty 277
Kinder Morgan 278
Kraft Heinz 279
Kroger 280
L3Harris 281
LKQ Corporation 282
LabCorp 283
Lam Research 284
Lamb Weston 285
Las Vegas Sands 286
Leidos 287
Lennar 288
Lincoln Financial 289
Linde plc 290
Live Nation Entertainment 291
Lockheed Martin 292
Loews Corporation 293
Lowe's 294
Lumen Technologies 295
LyondellBasell 296
M&T Bank 297
MGM Resorts 298
MSCI 299
Marathon Oil 300
Marathon Petroleum 301
MarketAxess 302
Marriott International 303
Marsh McLennan 304
Martin Marietta Materials 305
Masco 306
Mastercard 307
Match Group 308
McCormick & Company 309
McDonald's 310
McKesson 311
Medtronic 312
Merck 313
Merck & Co. 314
MetLife 315
Meta Platforms 316
Mettler Toledo 317
Microchip Technology 318
Micron Technology 319
Microsoft 320
Mid-America Apartment Communities 321
Moderna 322
Mohawk Industries 323
Molina Healthcare 324
Molson Coors Beverage Company 325
Mondelez International 326
Monolithic Power Systems 327
Monster Beverage 328
Moody's Corporation 329
Morgan Stanley 330
Motorola Solutions 331
NRG Energy 332
NVR, Inc. 333
NXP Semiconductors 334
Nasdaq, Inc. 335
NetApp 336
Netflix 337
Newell Brands 338
Newmont 339
News Corp (Class A) 340
News Corp (Class B) 341
NextEra Energy 342
NiSource 343
Nike 344
Nike, Inc. 345
Nordson Corporation 346
Norfolk Southern Railway 347
Northern Trust 348
Northrop Grumman 349
Norwegian Cruise Line Holdings 350
Nucor 351
Nvidia 352
O'Reilly Auto Parts 353
ON Semiconductor 354
Occidental Petroleum 355
Old Dominion 356
Omnicom Group 357
Oneok 358
Oracle Corporation 359
Organon & Co. 360
Otis Worldwide 361
PG&E 362
PNC Financial Services 363
PPG Industries 364
PPL Corporation 365
PTC 366
Paccar 367
Packaging Corporation of America 368
Paramount Global 369
Parker Hannifin 370
PayPal 371
Paychex 372
Paycom 373
Pentair 374
PepsiCo 375
PerkinElmer 376
Pfizer 377
Philip Morris International 378
Phillips 66 379
Pinnacle West 380
Pioneer Natural Resources 381
Pool Corporation 382
Principal Financial Group 383
Procter & Gamble 384
Progressive Corporation 385
Prologis 386
Prudential Financial 387
Public Service Enterprise Group 388
Public Storage 389
PulteGroup 390
Qorvo 391
Qualcomm 392
Quanta Services 393
Quest Diagnostics 394
Ralph Lauren Corporation 395
Raymond James 396
Raytheon Technologies 397
Realty Income 398
Regency Centers 399
Regeneron 400
Regions Financial Corporation 401
Republic Services 402
ResMed 403
Robert Half 404
Rockwell Automation 405
Rollins, Inc. 406
Roper Technologies 407
Ross Stores 408
Royal Caribbean Group 409
S&P Global 410
SBA Communications 411
SVB Financial 412
Salesforce 413
Schlumberger 414
Seagate Technology 415
Sealed Air 416
Sempra Energy 417
ServiceNow 418
Sherwin-Williams 419
Signature Bank 420
Simon Property Group 421
Skyworks Solutions 422
Snap-on 423
SolarEdge 424
Southern Company 425
Southwest Airlines 426
Stanley Black & Decker 427
Starbucks 428
State Street Corporation 429
Steris 430
Stryker Corporation 431
Synchrony Financial 432
Synopsys 433
Sysco 434
T-Mobile US 435
T. Rowe Price 436
TE Connectivity 437
TJX Companies 438
Take-Two Interactive 439
Tapestry, Inc. 440
Targa Resources 441
Target Corporation 442
Teledyne Technologies 443
Teleflex 444
Teradyne 445
Tesla, Inc. 446
Texas Instruments 447
Textron 448
The Coca-Cola Company 449
The Estée Lauder Companies 450
The Home Depot 451
The Interpublic Group of Companies 452
The J.M. Smucker Company 453
The Mosaic Company 454
The Travelers Companies 455
Thermo Fisher Scientific 456
Tractor Supply 457
Trane Technologies 458
TransDigm Group 459
Travelers 460
Trimble Inc. 461
Truist 462
Tyler Technologies 463
Tyson Foods 464
U.S. Bank 465
UDR, Inc. 466
Ulta Beauty 467
Union Pacific Corporation 468
United Airlines Holdings 469
United Parcel Service 470
United Rentals 471
UnitedHealth 472
UnitedHealth Group 473
Universal Health Services 474
VF Corporation 475
Valero Energy 476
Ventas 477
Verisign 478
Verisk 479
Verizon 480
Vertex Pharmaceuticals 481
Viatris 482
Vici Properties 483
Visa 484
Visa Inc. 485
Vornado Realty Trust 486
Vulcan Materials Company 487
W. W. Grainger 488
WEC Energy Group 489
Wabtec 490
Walgreens Boots Alliance 491
Walmart 492
Warner Bros. Discovery 493
Waste Management 494
Waters Corporation 495
Wells Fargo 496
Welltower 497
West Pharmaceutical Services 498
WestRock 499
Western Digital 500
Weyerhaeuser 501
Whirlpool Corporation 502
Williams Companies 503
Willis Towers Watson 504
Wynn Resorts 505
Xcel Energy 506
Xylem Inc. 507
Yum! Brands 508
Zebra Technologies 509
Zimmer Biomet 510
Zions Bancorporation 511
Zoetis 512
eBay 513

In [18]:
#Seconde step: create the foreign key company id 

def find_company_id(company_name):
    return company_id_mapper[company_name]

security_table["company_id"] = security_table["name"].apply(find_company_id)
print(security_table)

      id ticker                     name  company_id
0      0      A     Agilent Technologies          16
1      1    AAL  American Airlines Group          32
2      2    AAP       Advance Auto Parts          14
3      3   AAPL                    Apple          46
4      4   ABBV                   AbbVie           8
..   ...    ...                      ...         ...
498  498    YUM              Yum! Brands         508
499  499    ZBH            Zimmer Biomet         510
500  500   ZBRA       Zebra Technologies         509
501  501   ZION     Zions Bancorporation         511
502  502    ZTS                   Zoetis         512

[503 rows x 4 columns]

In [19]:
#create the foreign key : populate the company table with the security_id:
ticker_id_mapper = {k:v for k,v in zip(security_table["company_id"], security_table["id"])}
    
def find_security_id(company_id):
    if company_id in ticker_id_mapper:
        return ticker_id_mapper[company_id]

company_table["security_id"] = company_table["id"].apply(find_security_id)
print(company_table)

      id                  name                                      industry  \
0      0                    3M                                  Conglomerate
1      1           A. O. Smith                             Building Products
2      2                   ADM                         Agricultural Products
3      3                   ADP         Data Processing & Outsourced Services
4      4       AES Corporation  Independent Power Producers & Energy Traders
..   ...                   ...                                           ...
509  509    Zebra Technologies            Electronic Equipment & Instruments
510  510         Zimmer Biomet                         Health Care Equipment
511  511  Zions Bancorporation                                Regional Banks
512  512                Zoetis                               Pharmaceuticals
513  513                  eBay            Internet & Direct Marketing Retail

                     sector             hq_location  security_id
0                       NaN                     NaN        307.0
1               Industrials    Milwaukee, Wisconsin         39.0
2          Consumer Staples       Chicago, Illinois         12.0
3    Information Technology    Roseland, New Jersey         13.0
4                 Utilities     Arlington, Virginia         17.0
..                      ...                     ...          ...
509  Information Technology  Lincolnshire, Illinois        500.0
510             Health Care         Warsaw, Indiana        499.0
511              Financials    Salt Lake City, Utah        501.0
512             Health Care  Parsippany, New Jersey        502.0
513  Consumer Discretionary    San Jose, California        151.0

[514 rows x 6 columns]

In [20]:
#Reda the nyse.csv and the nasdaq.csv
nyse = pd.read_csv("nyse.csv")
nyse.head()

,Symbol,Name,LastSale,MarketCap,IPOyear,Sector,industry,Summary Quote,Unnamed: 8
0,DDD,3D Systems Corporation,7.66,$927.89M,NaN,Technology,Computer Software: Prepackaged Software,https://old.nasdaq.com/symbol/ddd,NaN
1,MMM,3M Company,169.80,$97.81B,NaN,Health Care,Medical/Dental Instruments,https://old.nasdaq.com/symbol/mmm,NaN
2,WBAI,500.com Limited,2.95,$126.85M,2013.0,Consumer Services,Services-Misc. Amusement & Recreation,https://old.nasdaq.com/symbol/wbai,NaN
3,EGHT,8x8 Inc,16.75,$1.75B,NaN,Technology,EDP Services,https://old.nasdaq.com/symbol/eght,NaN
4,AHC,A.H. Belo Corporation,1.44,$34.39M,NaN,Consumer Services,Newspapers/Magazines,https://old.nasdaq.com/symbol/ahc,NaN

In [21]:
nasdaq = pd.read_csv("nasdaq.csv")
nasdaq.head()

,Symbol,Name,LastSale,MarketCap,ADR TSO,IPOyear,Sector,Industry,Summary Quote,Unnamed: 9
0,VCVC,10X Capital Venture Acquisition Corp,NaN,0.000000e+00,NaN,NaN,NaN,NaN,https://old.nasdaq.com/symbol/vcvc,NaN
1,VCVCU,10X Capital Venture Acquisition Corp,NaN,0.000000e+00,NaN,NaN,NaN,NaN,https://old.nasdaq.com/symbol/vcvcu,NaN
2,TXG,"10x Genomics, Inc.",142.27,1.520301e+10,NaN,2019.0,Capital Goods,Biotechnology: Laboratory Analytical Instruments,https://old.nasdaq.com/symbol/txg,NaN
3,YI,"111, Inc.",7.00,1.785821e+08,25511734.0,2018.0,Health Care,Medical/Nursing Services,https://old.nasdaq.com/symbol/yi,NaN
4,PIH,"1347 Property Insurance Holdings, Inc.",3.05,1.506076e+07,NaN,2014.0,Finance,Property-Casualty Insurers,https://old.nasdaq.com/symbol/pih,NaN

In [22]:
#populate the exchange_id column : assign the correct exchange_id for each stock in the security table:
# the exchange_id will be 1300 for the nyse stocks and 367 for the nasdaq stocks

nyse_companies = nyse["Name"].values
nasdaq_companies = nasdaq["Name"].values

def find_exchange_id(company_name):
    if company_name in nyse_companies: return 1300
    if company_name in nasdaq_companies: return 367


security_table["exchange_id"] = security_table["name"].apply(find_exchange_id)
security_table

      id ticker                     name  company_id  exchange_id
0      0      A     Agilent Technologies          16          NaN
1      1    AAL  American Airlines Group          32          NaN
2      2    AAP       Advance Auto Parts          14          NaN
3      3   AAPL                    Apple          46          NaN
4      4   ABBV                   AbbVie           8          NaN
..   ...    ...                      ...         ...          ...
498  498    YUM              Yum! Brands         508          NaN
499  499    ZBH            Zimmer Biomet         510          NaN
500  500   ZBRA       Zebra Technologies         509          NaN
501  501   ZION     Zions Bancorporation         511          NaN
502  502    ZTS                   Zoetis         512          NaN

[503 rows x 5 columns]

In [23]:
#save the data in the sql table security and company of the database db_name
conn = sqlite3.connect(db_name)

security_table.set_index("id").to_sql("security", conn, if_exists="replace")
company_table.set_index("id").to_sql("company", conn, if_exists="replace")

514

In [24]:
#Extraction the prices of YAHOO: WARNING this action may take 15 min !!!

import time
import pandas_datareader.data as web
from ipywidgets import IntProgress
from IPython.display import display

stock_pricing_dfs = []
max_count = len(security_table["id"])
f = IntProgress(min=0, max=max_count) # instantiate the bar
display(f) # display the bar

for stock_id in security_table['id']:
    try:
        stock_pricing_df = web.DataReader(security_table.iloc[stock_id]['ticker'], 
                           start='2010-1-1', 
                           end='2020-08-31', 
                           data_source='yahoo')
        stock_pricing_df['security_id'] = stock_id
        stock_pricing_dfs.append(stock_pricing_df)
    except:
        pass
    
    f.value += 1 # signal to increment the progress bar

security_price_table = pd.concat(stock_pricing_dfs)

Widget Javascript not detected.  It may not be installed or enabled properly. Reconnecting the current kernel may help.

In [27]:
security_price_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1276281 entries, 0 to 1276280
Data columns (total 9 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Date         1276281 non-null  datetime64[ns]
 1   high         1276281 non-null  float64
 2   low          1276281 non-null  float64
 3   open         1276281 non-null  float64
 4   close        1276281 non-null  float64
 5   volume       1276281 non-null  float64
 6   adj_close    1276281 non-null  float64
 7   security_id  1276281 non-null  int64
 8   id           1276281 non-null  int64
dtypes: datetime64[ns](1), float64(6), int64(2)
memory usage: 87.6 MB

In [26]:
#insert data in the table security_price
security_price_table.columns = ['high', 'low', 'open', 'close', 'volume', 'adj_close', 'security_id']
security_price_table.reset_index(inplace=True)
security_price_table['id'] = security_price_table.index
print(security_price_table.head())
security_price_table.to_sql("security_price", conn, if_exists="append", index=False)

        Date       high        low       open      close     volume  \
0 2010-01-04  22.625179  22.267525  22.453505  22.389128  3815561.0
1 2010-01-05  22.331903  22.002861  22.324751  22.145924  4186031.0
2 2010-01-06  22.174536  22.002861  22.067240  22.067240  3243779.0
3 2010-01-07  22.045780  21.816881  22.017166  22.038628  3095172.0
4 2010-01-08  22.067240  21.745352  21.917025  22.031473  3733918.0

   adj_close  security_id  id
0  20.434929            0   0
1  20.212959            0   1
2  20.141132            0   2
3  20.115025            0   3
4  20.108498            0   4

1276281